<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Formulario</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/Conflictos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">  
    <link rel="icon" type="text/css" href="../Images/logo.png">
</head>


<body>
<div class="container">
    <form id="signup" method="POST" action="/conflictos" >

        <div class="header">
        
            <h3>Formulario para agregar biografias</h3>

            <p>Por favor complete todos los datos</p>
                
        </div>
        <div class="header">
        <div class="sep"></div>

        <div class="inputs">
        <p>Nombre del fallecido</p>
        <input name="Nombre" type="text" placeholder="Nombre" maxlength="20" required />
        <p>Segundo nombre del fallecido (opcional)</p>
        <input name="Nombre" type="text" placeholder="Otros nombres" maxlength="20" />
        <p>Apellido del fallecido</p>
        <input name="Nombre" type="text" placeholder="Apellido" maxlength="20" required />

         </div>
        </div>

    </form>

</div>
​<a id="Cerramos" href="/login">Cerrar sesion</a>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
  <script type="text/javascript" src="/scripts/conflictos.js"></script>
</body>
</html>