<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Solicitudes</title>
    <link rel="stylesheet" type="text/css" href="../public/styles/solicitudes.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">  
    <link rel="icon" type="text/css" href="../public/images/LogoSinFondo.png">
</head>


<body>
<div class="container">
    <div class="red">
        <div id="Name"></div>
    </div>
    <form id="signup" method="POST" action="/solicitudesAdm" >

        <div class="header">
        
            <h3>Solicitudes</h3>

            <p>Por favor seleccione una solicitud para ver mas información</p>
                
        </div>
        <div class="header">
        <div class="sep"></div>

        <div class="inputs"> 
       
        <input type="submit" value="Aceptar" id="submit" onclick="enviar('aceptar');refresh()">
        <input type="submit" value="Rechazar" id="submit" onclick="enviar('rechazar');refresh()">
         </div>
        </div>

    </form>

</div>
<img src="../public/images/LogoSinFondo.png" alt="Logo de la empresa" style="position:fixed;right:0px;bottom: 0px;height: 300px;width: 370px ">
​<a id="Cerramos" href="/login">Cerrar sesion</a>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
  <script type="text/javascript" src="/scripts/solicitud.js"></script>
</body>
</html>