<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Error</title>
  <link rel="stylesheet" type="text/css" href="../public/styles/Errorovich.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">    
  <link rel="icon" type="text/css" href="../images/logo.png">
</head>


<body>
<div class="container">

    <form method="POST" action="/login" id="signup">

        <div class="header">
        
            <h3>Error 404</h3>
            
            <p>Ha ocurrido un error, porfavor ingrese de nuevo</p>
            
        </div>
        
        <div class="sep"></div>

        <div class="inputs">

            <a id="submit" href="/login">Ir a inicio de sesión</a>
            
        
        </div>

    </form>

</div>
​
<a id="Cerramos" href="/login">Cerrar sesion</a>

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>

  <script type="text/javascript" src="../public/scripts/ErrorJs.js"></script>


</body>
</html>