<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width">
    <title>Solicitudes</title>
    <link rel="stylesheet" type="text/css" href="/styles/SeleccionDias.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">  
    <link rel="icon" type="text/css" href="../Images/logo.png">
</head>


<body>
    <div class="red">Profesor: 
        <div id="Name"></div>
    </div>
    <div class="container">
        <form method="POST" action="/solicitudesProf" id="signup">
  
          <div class="header">
          
              <h3>Ocupar un aula</h3>
              
              <p>Por favor complete los datos</p>
              
          </div>
          
          <div class="sep"></div>
  
          <div class="inputs">
          
              <select onchange="cargarmapa()" required name="Listadias" id="Listadias">
                <option value="Vacio">Seleccione un dia</option>
                <option value="Lunes">Lunes</option>
                <option value="Martes">Martes</option>
                <option value="Miercoles">Miercoles</option>
                <option value="Jueves">Jueves</option>
                <option value="Viernes">Viernes</option>
              </select>
  
              <select onchange="cargarmapa()" required name="Listabloques" id="Listabloques">
                <option value="Vacio">Seleccione un bloque</option>
                <option value="1 Bloque">1 Bloque</option>
                <option value="2 Bloque">2 Bloque</option>
                <option value="3 Bloque">3 bloque</option>
              </select>
  
              <select required name="ListaTiempo" id="ListaTiempo">
                  <option value="Vacio">Seleccione un tipo de tiempo de repeticion</option>
                  <option value="semanal">semanal</option>
                  <option value="mensual">mensual</option>
                  <option value="anual">anual</option>
                  
              
              <input type="submit" value="Solicitar aula" id="submit" onclick="enviar()" />
          
          
          </div>
      
      </form>
    
    </div>
    
    <div class="container">
  
      <div id="signup">
  
          <div class="header">
          
              <h3>Aulas  disponibles</h3>
                  
          </div>
          
          <div class="sep"></div>
  
          <div class="inputs">
  
              <select required name="ListaAulas" id="ListaAulas">
                  <option value="Vacio">Seleccione un aula</option>
                  <option value="L1">LABORATORIO 1</option>
                  <option value="L2">LABORATORIO 2</option>
                  <option value="L3">LABORATORIO 3</option>
                  <option value="L208">AULA 208</option> 
                  <option value="L209">AULA 209</option> 
                  <option value="L213">AULA 213</option>
            </select>
  
    
          </div>
  
      </div>
    <input type="submit" value="Ver estado de la solicitud" id="submito" onclick="EnEspera()"/>
    <img id="img1" src="/images/Planos-Bloqueado.jpg" width="406 px" height="250 px" flex-wrap="wrap">
  </div>
  
     <a id="Cerramos" href="/login">Cerrar sesion</a>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" ></script>
  </main>
<script type="text/javascript" src="/scripts/selecion de diasjs.js"></script>
</body>
</html>
